# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# Virtualenv
venv/
env/
.venv/
.conda/
.env


# IDEs
.idea/
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
logs/
*.log

# Private files
private_*.py