DATABASE_URL=postgresql://postgres:xxx@centerbeam.proxy.rlwy.net:52068/railway
DB_SCHEMA=customer

# 日志配置
LOG_LEVEL=INFO
LOG_PATH=./logs/app.log  
# Adviser Finder 配置，固定
AF_GOOGLE_MAPS_API_KEY=AIzaSyAktegg7BCek4FJWkwqNmNMwzW5Hz4UhiY
AF_FUID=VXlnM1FET1BLV0NVVUNZMW9MNmU3UWdLNVAwNUkzRVNnOFJ1eVRYdHBvVVExMi42MjkxNDU2LjE2Nzc3MjE2
AF_BASE_URL =https://portal.immigrationadviceauthority.gov.uk
AF_GOOGLE_BASE_URL=https://maps.googleapis.com/maps/api/geocode/json


#CRM 配置
CRM_URL=https://api.attio.com/v2
CRM_API_KEY =YOUR ATTIO API_KEY 

#replace your attio company attributes'slug
CRM_COMPANY_FIELD_MAPPING='{
  "name": "your attio company name'slug",  
  "domains": "domains",
  "company_email": "company_email",
  "company_phone": "company_phone_7",
  "areas_of_law": "areas_of_law",
  "total_solicitors": "total_solicitors",
  "scottish_partners": "scottish_partners",
  "regulated_body":"regulated_body"
}'
CRM_LAWYER_FIELD_MAPPING='{
  "name": "name",
  "email": "email_addresses",
  "phone": "telephone",
  "address": "address",
  "company":"company"
}'
